<template>
  <div class="users-dialog">
    <div class="users-dialog__content">
      <div class="users-dialog__header">
        <div class="users-dialog__title">Форма для заполнения</div>
        <button class="users-dialog__close" @click="closeUserDialog">закрыть</button>
      </div>
      <div class="users-dialog__inputs">
        <input
          class="input"
          v-model="objUser.name"
          type="text"
          placeholder="введите имя и фамилию"
        />
        <input class="input" v-model="objUser.username" type="text" placeholder="введите ник" />
        <input class="input" v-model="objUser.email" type="text" placeholder="введите почту" />
        <input class="input" v-model="objUser.phone" type="text" placeholder="введите телефон" />
        <input
          class="input"
          v-model="objUser.address.city"
          type="text"
          placeholder="введите город"
        />
      </div>
      
      <button class="add-users__button" @click="addUser(objUser)">добавить</button>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  props: {
    currUser: Object,
  },
  setup(props, { emit }) {
    let objUser = ref({
      address: {
        city: "",
      },
    });
    console.log(objUser);
    function addUser(objUser) {
      emit("addUser", objUser);
    }
    function closeUserDialog(params) {
      emit("closeUserDialog");
    }

    return {
      closeUserDialog,
      addUser,
      objUser,
    };
  },
};
</script>

<style lang="scss" scoped>
.users-dialog {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  &__content {
    margin: auto;
    background: white;
    border-radius: 12px;
    min-height: 25px;
    padding: 20px;
    max-width: 550px;
    width: 100%;
  }
  &__close {
    border-radius: 15px;
    border: none;
    background-color: lightcoral;
    color: white;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    margin: 0px 0px 0px auto;
    max-width: 100px;
    display: flex;
  }
  &__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px auto;
    max-width: 464px;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3b87eb;
    font-size: 20px;
  }
}
.input {
  height: 45px;
  padding-left: 15px;
  margin-right: 30px;
  border-radius: 10px;
  border: 3px solid rgba(255, 225, 0, 0.767);
}
.add-users__button {
  border-radius: 15px;
  border: none;
  background-color: rgba(8, 150, 31, 0.749);
  color: white;
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
  margin: 0px 0px 0px auto;
  max-width: 100px;
  display: flex;
}
::-webkit-input-placeholder { /* WebKit browsers */
   color:    #3b87eb;
}



</style>
