<template>
  <div class="pop-up">
      <div class="pop-up__content">
        <div class="pop-up__header">
          <div class="pop-up__title">Подробная информация</div>
          <button class="pop-up__close" @click="closePopUp">закрыть</button>
        </div>
        <div class="pop-up__inf pop-up__grid">
          <div>
            Имя:
            <input
              class="pop-up__input"
              :disabled="disabled === true"
              :class="{ active: isActive === true }"
              type="text"
              v-model="currUser.name"
            />
          </div>
          <div>
            Ник:
            <input
              class="pop-up__input"
              :disabled="disabled === true"
              :class="{ active: isActive === true }"
              type="text"
              v-model="currUser.username"
            />
          </div>
          <div>
            Почта:
            <input
              class="pop-up__input"
              :disabled="disabled === true"
              :class="{ active: isActive === true }"
              type="text"
              v-model="currUser.email"
            />
          </div>
          <div>
            Тел:
            <input
              class="pop-up__input"
              :disabled="disabled === true"
              :class="{ active: isActive === true }"
              type="text"
              v-model="currUser.phone"
            />
          </div>
          <div>
            Город:
            <input
              class="pop-up__input"
              :disabled="disabled === true"
              :class="{ active: isActive === true }"
              type="text"
              v-model="currUser.address.city"
            />
          </div>
        </div>
        <div class="pop-up__buttons">
          <button
            class="pop-up__edit"
            @click="
              disabled = false;
              isActive = true;
            "
          >
            редактировать
          </button>
          <button
            class="pop-up__save"
            @click="
              disabled = true;
              isActive = false;
              closePopUp()
            "
          >
            сохранить
          </button>
        </div>
      </div>
  </div>
</template>

<script>
import { onBeforeMount, reactive, ref } from "vue";
export default {
  props: {
    currUser: Object,
    popUpVizability:Boolean,
  },
  setup(props, { emit }) {
    let disabled = ref(true);
    console.log(disabled);
    let closePopUp = () => {
      emit("close");
    };
    return {
      closePopUp,
      disabled,
    };
  },
};
</script>

<style lang="scss" scoped>

.pop-up {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  &__content {
    margin: auto;
    background: white;
    border-radius: 12px;
    min-height: 25px;
    padding: 20px;
    max-width: 550px;
    width: 100%;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inf {
    margin: 30px 0;
    gap: 12px;
    display: grid;
  }
  &__grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  &__close {
    border-radius: 15px;
    border: none;
    background-color: lightcoral;
    color: white;
    height: 40px;
    width: 75px;
    text-align: center;
    cursor: pointer;
    margin: 0 0 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  &__buttons {
    display: flex;
    float: right;
  }
  &__edit {
    border-radius: 15px;
    border: none;
    background-color: #74aaf1;
    color: white;
    height: 40px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    min-width: 75px;
    text-align: center;
    cursor: pointer;
  }
  &__save {
    border-radius: 15px;
    margin-left: 20px;
    border: none;
    background-color: rgba(8, 150, 31, 0.7);
    color: white;
    height: 40px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    min-width: 75px;
    text-align: center;
    cursor: pointer;
  }
  &__input {
    border: 3px solid white;
    padding: 3px;
    border-radius: 10px;
    font-size: 16px;
    color: gray;
    background: inherit;
    transition: all 0.4s linear;
  }
}
.active {
  border: 3px solid #74aaf1;
}
</style>
