<template>
  <div style="margin-top: 50px">
    <div class="tool-burs">
      <input type="text" v-model="inputSearch" class="users-items__search" placeholder="Поиск..." />
      <select class="users-items__select" v-model="selectedSort">
        <option disabled value="">выберите из списка</option>
        <option v-for="option in sortOption" :key="option" :value="option.value">
          {{ option.option }}
        </option>
      </select>
      <button class="add-button" @click="dialogUserVizability = true">добавить пользователя</button>
    </div>
    <transition-group name="post-list">
      <div
        class="users-items"
        @click="
          popUpVizability = true;
          currUser = user;
        "
        v-for="user in sortedUsers"
        :key="user"
      >
        <div class="user-item__name" style="color: gray">Имя: {{ user.name }}</div>
        <div class="user-item__username" style="color: gray">Ник: {{ user.username }}</div>
        <div style="display: flex">
          <button class="dlt-button" @click.stop="deleteUser(user)">удалить</button>
        </div>
      </div>
    </transition-group>
    <transition name="fade">
      <pop-up
        v-if="popUpVizability"
        :currUser="currUser"
        :popUpVizability="popUpVizability"
        @close="popUpVizability = false"
      />
    </transition>
    <transition name="fade">
      <add-user-dialog
        v-if="dialogUserVizability"
        :currUser="currUser"
        @closeUserDialog="dialogUserVizability = false"
        @addUser="addUser"
      />
    </transition>
  </div>
</template>

<script>
import AddUserDialog from "./components/AddUserDialog.vue";
import PopUp from "./components/PopUp.vue";
import { getUsersList } from "./fetch.js";
import { computed, onBeforeMount, watch, reactive, ref } from "vue";
export default {
  components: {
    AddUserDialog,
    PopUp,
  },
  setup() {
    let currUser = ref({});
    let currOption = ref({});

    let users = ref([]);

    let popUpVizability = ref(false);
    let dialogUserVizability = ref(false);
    let addUser = (objUser) => {
      if (objUser.name && objUser.username) {
        for (const user of users.value) {
          if (
            user.name === objUser.name &&
            user.username === objUser.username &&
            user.email === objUser.email &&
            user.phone === objUser.phone
          ) {
            return;
          }
        }
        users.value.push({
          name: objUser.name,
          username: objUser.username,
          address: { city: objUser.address.city },
          email: objUser.email,
          phone: objUser.phone,
        });
      }
      dialogUserVizability.value = false;
    };

    let deleteUser = (user) => {
      users.value = users.value.filter((item) => item !== user);
    };



    onBeforeMount(async () => {
      users.value = await getUsersList();
    });

    let inputSearch = ref("");

    let searchUsers = computed(() => {
      console.log(Date.now());
      return users.value.filter((item) =>
        item.name.toLowerCase().includes(inputSearch.value.toLowerCase())
      );
    });

    let sortedUsers = computed(() => {
      return searchUsers.value.sort((user1, user2) =>
        user1[selectedSort.value]?.localeCompare(user2[selectedSort.value])
      );
    });

    let sortOption = ref([
      { value: "name", option: "по имени" },
      { value: "username", option: "по нику" },
    ]);
    let selectedSort = ref("");

    return {
      currOption,
      sortedUsers,
      sortOption,
      selectedSort,
      searchUsers,
      inputSearch,
      popUpVizability,
      close,
      users,
      addUser,
      deleteUser,
      currUser,
      dialogUserVizability,
    };
  },
};
</script>

<style lang="scss">
.post-list-enter-active,
.post-list-leave-active {
  transition: all 0.6s ease;
}
.post-list-enter-from,
.post-list-leave-to {
  opacity: 0;
  transform: translateX(130px);
}

.post-list-move{
  transition: transform 0.8s ease;
}
body {
  margin: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transition: opacity 0.4s ease;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  color: #2c3e50;
  min-height: 100vh;
  height: 100%;
  background: #5391cf;
}

.users-items {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 15px;
  background: white;
  &:hover {
    background: #e5f3ff;
    cursor: pointer;
  }
  &__search {
    border: 2px solid rgba(8, 150, 31, 0.749);
    border-radius: 15px;
    padding-left: 15px;
    margin-right: 20px;
    box-shadow: 0 0 14px rgb(0 0 0 / 50%);
  }
  &__select{
    border: 2px solid rgba(8, 150, 31, 0.749);
    border-radius: 15px;
    padding-left: 5px;
    margin-right: 20px;
    color: gray;
    box-shadow: 0 0 14px rgb(0 0 0 / 50%);
    padding-right: 10px;
  }
}
.user-item {
  color: grey;
}
.dlt-button {
  margin-left: 30px;
  border-radius: 15px;
  border: none;
  background-color: lightcoral;
  color: white;
  height: 40px;
  width: 75px;
  text-align: center;
  cursor: pointer;
}

.add-button {
  border-radius: 15px;
  border: none;
  background-color: rgba(8, 150, 31, 0.749);
  color: white;
  height: 50px;
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 14px rgb(0 0 0 / 50%);
}
.pop-up {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
}
.tool-burs {
  display: flex;
  justify-content: center;
}
</style>
